* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(170, 157, 255, 1), rgb(90, 74, 163));
    width: 100%;
    height: 100vh;
}

.container {
    width:300px;
    height: 500px;
    background-color: rgba(35, 28, 45, 0.89999);
    border-radius: 30px;
    box-shadow: 2px 2px 5px black;
    padding-left: 30px;
    padding-right: 30px;
}

.container-header {
    color: white;
    font-size: x-large;
    font-weight: bold;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

.value-entry {
    height: 200px;
}

.label {
    color: white;
    font-size: large;
}

.input {
    width: 95%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgba(170, 157, 255, 0.222);
    border: none;
    padding-left: 5px;
    font-size: .9rem;
    color: white;
}

.input:focus {
    outline: 1px solid white;
    border: 1px solid black;
}

.input:hover {
    background-color: rgba(170, 157, 255, 0.429);
}

.counter-container {
    float: left;
    width: 50%;
}

.counter-flex {
    display: flex;
    flex-direction: row;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(170, 157, 255);
    text-align: center;
    line-height: 40px;
    font-size: large;
    margin-right: 10px;
}

.button:hover {
    background-color: rgb(196, 187, 252);
}

.counter-num {
    color: white;
    font-size: large;
    margin-right: 10px;
}

.counter-label {
    color: white;
    margin-bottom: 5px;
    font-size: large;
}

.status {
    width: 50%;
    float: right;
    text-align: center;
    line-height: 35px;
}

.status-label {
    font-size: large;
    color: white;
}

.status-value {
    font-size: large;
    color: white;
    font-weight: bold;
}